 {% extends 'admin/base_site.html' %}
 {% load i18n %}
 {% load humanize %}

 {% block content %}
    <h1>Taskanalytics - Reports</h1>

    <h2>Task runs by state</h2>
    <p>{{ total_runs|intcomma }} task executions within {{ oldest_date|timesince:youngest_date }}</p>
    <table>
        <thead>
            <tr>
                <th>State</th>
                <th>Count</th>
                <th>% total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in task_totals_by_state %}
                <tr>
                    <td>{{ row.state }}</td>
                    <td style="text-align: right;">{{ row.num_runs|intcomma }}</td>
                    <td style="text-align: right;">{{ row.p_total|floatformat:0 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No data</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Task runs by app</h2>
    <p>{{ total_runs|intcomma }} task executions within {{ oldest_date|timesince:youngest_date }}</p>
    <table>
        <thead>
            <tr>
                <th>App Name</th>
                <th style="text-align: right;">Count</th>
                <th style="text-align: right;">% total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in task_runs_per_app %}
                <tr>
                    <td>{{ row.app_name }}</td>
                    <td style="text-align: right;">{{ row.num_runs|intcomma }}</td>
                    <td style="text-align: right;">{{ row.p_total|floatformat:0 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No data</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Top {{ MAX_TOP }} tasks by runs</h2>
    <p>{{ total_runs|intcomma }} task executions within {{ oldest_date|timesince:youngest_date }}</p>
    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th style="text-align: right;">Count</th>
                <th style="text-align: right;">% total</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tasks_top_runs %}
                <tr>
                    <td>{{ row.task_name }}</td>
                    <td style="text-align: right;">{{ row.num_runs|intcomma }}</td>
                    <td style="text-align: right;">{{ row.p_total|floatformat:0 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No data</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <h2>Top {{ MAX_TOP }} tasks by runtime</h2>
    <p>{{ total_runtime_date|timesince }} total cumulative runtime within {{ oldest_date|timesince:youngest_date }}</p>
    <table>
        <thead>
            <tr>
                <th>Task Name</th>
                <th>Runtime(s)</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tasks_top_runtime %}
                <tr>
                    <td>{{ row.task_name }}</td>
                    <td style="text-align: right;">{{ row.max_runtime|floatformat:3 }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No data</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br>

    <p>
        This data is cached. Last updated was {{ last_update_at|timesince }} ago. Next update approx. in {{ next_update_at|timeuntil }}.
        <a href="{% url 'taskanalytics:admin_taskanalytics_reports_clear_cache' %}"><input type="button" value="Recalc now"></a>
    </p>

    <a href="{% url 'admin:taskanalytics_tasklog_changelist' %}"><input type="button" value="Back"></a>
 {% endblock %}
