{% load humanize %}

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Amount</th>
            <th>% total</th>
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
            <tr>
                <td>{{ row.name }}</td>
                <td style="text-align: right;">{{ row.amount|floatformat:"0g" }}</td>
                <td style="text-align: right;">{{ row.percent|floatformat:"0" }}</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No data</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
